@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@*加入Views/Shared/View.cshtml 部分檢視*@
@Html.Partial("View")
<br />
@Html.Partial("PartialText")
<p>Use this area to provide additional information.</p>
