@{ 
    ViewBag.Title = "testAction";
}

<h2>testAction</h2>
@using(Html.BeginForm())
    {
        <div>
            @**此為Razor語法的註解*@
            <!--此為HTML語法的註解-->
            @Html.Label("輸入訊息:")
            <input type="text" name="Content" /><br />
            @Html.Label("發言人:")
            <input type="text" name="UserId" />
        </div>
        <div>
            驗證狀態:@ViewData["TInfo"]<br />
            使用者名稱:@ViewData["UserId"]<br />
            使用者輸入內容:@ViewData["Content"]<br />
            當前時間:@ViewData["Time"]<br />
            @{
                @*在@大括號中輸出純文字要用@:前綴*@
                String prtStr = "這是Razor，C#語法在View頁面的輸出字串";
                @:Html:
                <span>prtStr</span><br />
                @:C#:
                <span>@prtStr</span>
            }
        </div>
        <input type="submit" value="送出" />
    }